<div class="container-fluid">
  <div class="row">
      <div class="col">
          <button  class="btn btn-outline-info"
                  (click)="isCollapsed = !isCollapsed">
                    {{ issue.key }}
         </button>
      </div>
      <div class="col text-right text-success">
        <strong>
              {{ issue.hours }}
        </strong>
      </div>
  </div>
  <hr class="separator">
 <div *ngIf="!isCollapsed">
  <div class="row">
  <div class="col-sm">
     <div [ngClass]="{
                      'btn-group-horizontal': !verticalLayout,
                      'btn-group-vertical': verticalLayout
                      }">
     <div class="btn-toolbar mb-2" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="Add Minutes">
          <button class="btn btn-success"
          (click)="addSpentTime(900)"> Add 15 min </button>
          <button class="btn btn-success"
          (click)="addSpentTime(1800)"> Add 30 min </button>
          <button class="btn btn-success"
          (click)="addSpentTime(3600)"> Add 1 hour </button>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Add Hours">
          <button class="btn btn-info btn-block"
          (click)="saveChanges()"> Save Changes </button>
       </div>
     </div>
     </div>
 </div>
 <div class="col text-right">
      <strong>{{ labelSpentTime }}</strong>
   </div>
</div>
